
<div>
    <h4>Message details</h4>
    <hr />
    <h3>@ViewBag.RandomNum</h3>
</div>

<hr />

<div id="app">
    <h3>{{ vueMessage }}</h3>
</div>

@Scripts.Render("~/src/bundle/SmallAnnualReport.js")